/* Custom Chat Toggle Button */
.chat-window-wrapper .chat-window-toggle {
  background-image: url('/src/assets/Tracey.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.chat-window-wrapper .chat-window-toggle:hover,
.chat-window-wrapper .chat-window-toggle:focus {
  /* background: var(--chat--toggle--hover--background); */
  background-image: url('/src/assets/Tracey.png') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1.05);
    box-shadow: 0 0 20px var(--chat--color--primary);
}

.chat-window-toggle svg {
    display: none;
}

.chat-window-wrapper .chat-header {
  padding-top: 25px;
}


.chat-window-wrapper .chat-heading::before {
content: "";
position: absolute;
top: -25px;
left: 30px;
font-size: 24px;
width: 50px;
height: 50px;
border: solid 1px var(--chat--toggle--border-color);
border-radius: 50%;
background-image: url('/src/assets/Tracey.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.glow {
  position: relative;
  overflow:hidden;
}

.glow p {
  position: relative;
  z-index: 10;
}
.glow::after {
  content:"";
  animation: glow 1.5s ease-in-out;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  right: -100px;
  border-radius: 50%;
  background: #f234fe;
  opacity: 0.3;
  filter: blur(80px)
}
.glow-2 {
  position: relative;
  overflow:hidden;
}

.glow-2 p {
  position: relative;
  z-index: 10;
}
.glow-2::after {
  content:"";
  animation: glow 1.5s ease-in-out;
  width: 50%;
  height: 40%;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #52dfff;
  opacity: 0.5;
  filter: blur(80px)
}

@media (max-width:768px) {
  .glow-2::after {
    width: 150px;
    height: 30%;
    opacity: 8;
  }
}